In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
path = "C:/Users/gihun/Python/SteamGameRecommendationSystem/datasets/"

In [17]:
game_df = pd.read_csv(path+"preprocessed_games.csv", index_col=0)
pre_steam3 = pd.read_csv(path+"pre_steam3.csv")
rc_df = pd.read_csv(path+"pre_recommendations.csv")

### 추천 데이터와 게임 데이터 합치기

In [18]:
merge_game_df = pd.merge(game_df, rc_df, on='app_id', how='inner')
merge_game_df['date'] = pd.to_datetime(merge_game_df['date'], errors='coerce')

In [19]:
# 게임 id와 유저 리뷰 개수 그룹핑
grouped_df = merge_game_df.groupby('app_id')['user_reviews'].sum().reset_index()

# 정렬
sorted_grouped_df = grouped_df.sort_values(by='user_reviews', ascending=False)

# 100개 선택
top_100_app_ids = sorted_grouped_df.head(100)['app_id']

top_100_filtered_df = merge_game_df[merge_game_df['app_id'].isin(sorted_grouped_df['app_id'])]

In [20]:
final_df = top_100_filtered_df[(top_100_filtered_df['hours'] > 12) & (top_100_filtered_df['date'].dt.year >= 2020)]

# 사용시간 12시간 이상 유저이면서 2020년 최근 리뷰, 리뷰 수가 2개 이상인 유저 필터링
user_id_counts = final_df['user_id'].value_counts()
user_ids_with_more_than_2 = user_id_counts[user_id_counts > 2].index
final_filtered_df = final_df[final_df['user_id'].isin(user_ids_with_more_than_2)]

In [21]:
final_filtered_df

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,helpful,funny,date,is_recommended,hours,user_id,review_id
14,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,0.0,0.0,1,0,0,2022-12-19,1,27.2,10900943,24791
60,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,0.0,0.0,1,0,0,2022-12-06,1,36.6,6412670,117275
61,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,0.0,0.0,1,4,0,2020-12-29,1,27.9,11613778,119351
80,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,0.0,0.0,1,0,0,2021-02-10,1,77.3,6974763,153946
137,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,0.0,0.0,1,2,0,2020-06-22,1,23.6,7235085,292837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274593,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,0.0,0.0,1,0,0,2021-03-25,1,108.7,5447080,1263240
1274656,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,0.0,0.0,1,0,0,2020-01-03,1,363.0,11518366,1266376
1274732,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,0.0,0.0,1,0,0,2022-11-01,1,44.0,2636153,1271629
1274791,920210,LEGO® Star Wars™: The Skywalker Saga,2022-04-05,1,0,0,7,91,30937,50.0,0.0,0.0,1,214,4,2022-04-20,1,104.0,9191414,1088953
1274793,920210,LEGO® Star Wars™: The Skywalker Saga,2022-04-05,1,0,0,7,91,30937,50.0,0.0,0.0,1,1019,11,2022-04-05,1,269.6,162181,1157936

In [22]:
pre_steam3.head()

,app_id,name,release_date,english,developer,publisher,platforms,required_age,categories,steamspy_tags,...,RPG,Indie,Software Training,Simulation,Game Development,Massively Multiplayer,Early Access,Nudity,Strategy,Violent
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action;FPS;Multiplayer,...,0,0,0,0,0,0,0,0,0,0
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action;FPS;Multiplayer,...,0,0,0,0,0,0,0,0,0,0
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,FPS;World War II;Multiplayer,...,0,0,0,0,0,0,0,0,0,0
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action;FPS;Multiplayer,...,0,0,0,0,0,0,0,0,0,0
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,FPS;Action;Sci-fi,...,0,0,0,0,0,0,0,0,0,0

#### 모델링에 영향이 크게 없는 name, developer, publisher, english, platforms, steamspy_tags들을 데이터 줄이기 위해 제거

In [23]:
pre_steam3.drop(["name", "developer", "publisher", "english", "platforms", "steamspy_tags"], axis=1, inplace=True)

In [24]:
pre_steam3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   app_id                 27075 non-null  int64
 1   release_date           27075 non-null  object
 2   required_age           27075 non-null  int64
 3   categories             27075 non-null  object
 4   achievements           27075 non-null  int64
 5   positive_ratings       27075 non-null  int64
 6   negative_ratings       27075 non-null  int64
 7   average_playtime       27075 non-null  int64
 8   median_playtime        27075 non-null  int64
 9   owners                 27075 non-null  int64
 10  price                  27075 non-null  float64
 11  Free to Play           27075 non-null  int64
 12  Action                 27075 non-null  int64
 13  Utilities              27075 non-null  int64
 14  Animation & Modeling   27075 non-null  int64
 15  Photo Editing          27075 non-null  int64
 16  Education              27075 non-null  int64
 17  Sports                 27075 non-null  int64
 18  Audio Production       27075 non-null  int64
 19  Casual                 27075 non-null  int64
 20  Web Publishing         27075 non-null  int64
 21  Accounting             27075 non-null  int64
 22  Documentary            27075 non-null  int64
 23  Sexual Content         27075 non-null  int64
 24  Adventure              27075 non-null  int64
 25  Video Production       27075 non-null  int64
 26  Design & Illustration  27075 non-null  int64
 27  Racing                 27075 non-null  int64
 28  Gore                   27075 non-null  int64
 29  Tutorial               27075 non-null  int64
 30  RPG                    27075 non-null  int64
 31  Indie                  27075 non-null  int64
 32  Software Training      27075 non-null  int64
 33  Simulation             27075 non-null  int64
 34  Game Development       27075 non-null  int64
 35  Massively Multiplayer  27075 non-null  int64
 36  Early Access           27075 non-null  int64
 37  Nudity                 27075 non-null  int64
 38  Strategy               27075 non-null  int64
 39  Violent                27075 non-null  int64
dtypes: float64(1), int64(37), object(2)
memory usage: 8.3+ MB

In [25]:
merged_steam_games = pd.merge(final_filtered_df, pre_steam3, on='app_id', how='inner')

In [28]:
merged_steam_games

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,...,RPG,Indie,Software Training,Simulation,Game Development,Massively Multiplayer,Early Access,Nudity,Strategy,Violent
0,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,...,1,1,0,0,0,0,0,0,0,0
1,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,...,1,1,0,0,0,0,0,0,0,0
2,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,...,1,1,0,0,0,0,0,0,0,0
3,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,...,1,1,0,0,0,0,0,0,0,0
4,371970,Barony,2015-06-23,1,1,1,7,92,3713,20.0,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12510,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,...,0,0,0,0,0,0,0,0,0,0
12511,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,...,0,0,0,0,0,0,0,0,0,0
12512,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,...,0,0,0,0,0,0,0,0,0,0
12513,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,...,0,0,0,0,0,0,0,0,0,0
12514,250900,The Binding of Isaac: Rebirth,2014-11-04,1,1,1,8,97,225815,15.0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
merged_steam_games.to_csv("../datasets/merged_steam_games_.csv", index=False)